/* Estilos gerais */
body {
    font-family: Arial, sans-serif; /* Define a família de fontes para o corpo do documento. */
    margin: 0; /* Define a margem externa como zero. */
    padding: 0; /* Define o preenchimento como zero. */
    background-color: #f0f0f0; /* Define a cor de fundo. */
}

.container {
    max-width: 1200px; /* Limita a largura máxima do contêiner a 1200 pixels. */
    margin: 0 auto; /* Centraliza o contêiner horizontalmente. */
    padding: 0 20px; /* Define o preenchimento interno do contêiner. */
}

/* Estilos do cabeçalho */
header {
    background-color: #333; /* Define a cor de fundo. */
    color: #fff; /* Define a cor do texto. */
    padding: 10px 0; /* Cria preenchimento na parte superior e inferior do cabeçalho. */
    text-align: center; /* Centraliza o conteúdo horizontalmente. */
}

.menu-container {
    max-width: 1200px; /* Limita a largura máxima do contêiner a 1200 pixels. */
    margin: 0 auto; /* Centraliza o contêiner horizontalmente. */
    display: flex; /* Usa o modelo flexível para layout. */
    justify-content: center; /* Centraliza o conteúdo horizontalmente. */
}

.menu-list {
    list-style: none; /* Remove os marcadores de lista. */
    padding: 0; /* Define o preenchimento da lista como zero. */
    margin: 0; /* Define a margem da lista como zero. */
    display: flex; /* Usa o modelo flexível para layout. */
}

.menu-item {
    margin: 5px 15px; /* Define margens para os itens do menu. */
    position: relative; /* Permite posicionamento relativo dos elementos filhos. */
}

.menu-item:hover .submenu {
    display: block; /* Torna o submenu visível quando o item do menu é hover. */
}

.menu-item a {
    text-decoration: none; /* Remove a decoração de link padrão. */
    color: #fff; /* Define a cor do texto. */
    padding: 10px 15px; /* Define o preenchimento dos links. */
    border: 1px solid #c6dac2; /* Cria uma borda sólida com a cor especificada. */
    border-radius: 5px; /* Arredonda as bordas dos links. */
}

/* Estilos do conteúdo */
.content {
    padding: 20px; /* Define o preenchimento para o conteúdo. */
    display: flex; /* Usa o modelo flexível para layout. */
    flex-wrap: wrap; /* Permite que os elementos de conteúdo quebrem para a próxima linha quando não couberem mais na tela. */
    justify-content: center; /* Centraliza o conteúdo horizontalmente. */
}

.recipe-card {
    background-color: #fff; /* Define a cor de fundo dos cartões de receita. */
    padding: 20px; /* Define o preenchimento interno dos cartões de receita. */
    margin: 10px; /* Define margens para os cartões de receita. */
    border: 1px solid #ddd; /* Cria uma borda sólida com a cor especificada. */
    border-radius: 5px; /* Arredonda as bordas dos cartões de receita. */
    box-shadow: 0px 0px 5px 0px #ccc; /* Adiciona uma sombra ao redor dos cartões de receita. */
    width: calc(33.33% - 20px); /* Define a largura dos cartões de receita, permitindo que 3 cartões se ajustem em uma linha. */
    text-align: left; /* Alinha o texto à esquerda dentro dos cartões de receita. */
    display: inline-block; /* Permite que os cartões de receita fiquem lado a lado. */
    box-sizing: border-box; /* Inclui preenchimento e bordas no cálculo do tamanho do cartão. */
    vertical-align: top; /* Alinha os cartões de receita no topo. */
    position: relative; /* Permite posicionamento relativo dos elementos filhos. */
}

.recipe-card img {
    max-width: 100%; /* Define a largura máxima para as imagens das receitas. */
    height: auto; /* Permite que a altura das imagens se ajuste automaticamente à largura. */
}

/* Estilos do rodapé */
footer {
    background-color: #333; /* Define a cor de fundo. */
    color: #fff; /* Define a cor do texto. */
    padding: 20px 0; /* Cria preenchimento na parte superior e inferior do rodapé. */
    text-align: center; /* Centraliza o conteúdo horizontalmente. */
}

.footer-container {
    max-width: 1200px; /* Limita a largura máxima do contêiner a 1200 pixels. */
    margin: 0 auto; /* Centraliza o contêiner horizontalmente. */
}

/* Link para a página de cozinheiros */
footer p {
    margin: 10px 0; /* Define margem na parte superior e inferior do parágrafo. */
}

/* Link para a página de cozinheiros */
footer a {
    text-decoration: none; /* Remove a decoração de link padrão. */
    color: #fff; /* Define a cor do texto. */
    border: 1px solid #fff; /* Cria uma borda sólida com a cor especificada. */
    padding: 10px 15px; /* Define o preenchimento do link. */
    border-radius: 5px; /* Arredonda as bordas do link. */
}

/* Estilos dos cartões de receita e funcionário */
.recipe-card, .employee-card {
    background-color: #fff; /* Define a cor de fundo dos cartões de receita e funcionário. */
    padding: 20px; /* Define o preenchimento interno dos cartões. */
    margin: 10px; /* Define margens para os cartões. */
    border: 1px solid #ddd; /* Cria uma borda sólida com a cor especificada. */
    border-radius: 0px 40px 0px 40px; /* Arredonda as bordas com uma forma especial. */
    box-shadow: 0px 0px 5px 0px #ccc; /* Adiciona uma sombra ao redor dos cartões. */
    width: calc(33.33% - 20px); /* Define a largura dos cartões, permitindo que 3 cartões se ajustem em uma linha. */
    text-align: left; /* Alinha o texto à esquerda dentro dos cartões. */
    display: inline-block; /* Permite que os cartões fiquem lado a lado. */
    box-sizing: border-box; /* Inclui preenchimento e bordas no cálculo do tamanho dos cartões. */
    vertical-align: top; /* Alinha os cartões no topo. */
    position: relative; /* Permite posicionamento relativo dos elementos filhos. */
}

.recipe-card img, .employee-card img {
    max-width: auto; /* Define a largura máxima para as imagens, mantendo a largura original. */
    height: 200px; /* Define uma altura fixa de 200 pixels para as imagens. */
    border-radius: 0px 40px 0px 40px; /* Arredonda as bordas com uma forma especial. */
    display: block; /* Torna as imagens em elementos de bloco. */
    margin: 0 auto; /* Centraliza as imagens horizontalmente. */
}

.recipe-card h2, .employee-card h2 {
    font-weight: bold; /* Define a espessura da fonte como negrito. */
    position: relative; /* Permite posicionamento relativo dos elementos filhos. */
    background-color: #ddbbd5; /* Define a cor de fundo. */
    padding: 5px; /* Cria preenchimento interno. */
    border-radius: 0px 0px 40px 40px; /* Arredonda as bordas com uma forma especial. */
    text-align: center; /* Centraliza o texto horizontalmente. */
}

.recipe-card p, .employee-card p {
    margin: 0; /* Define margem como zero. */
    line-height: 2; /* Define o espaçamento entre linhas como 2 para melhor legibilidade. */
}

/* Estilos para a página de detalhes do cozinheiro */
/* Estilos das imagens dos cozinheiros */
.cozinheiro-image {
    max-width: 100%; /* Define a largura máxima desejada. */
    max-height: 200px; /* Define a altura máxima desejada. */
    border-radius: 0px 40px 0px 40px; /* Arredonda as bordas com uma forma especial, mantendo o mesmo estilo dos cartões. */
    display: block; /* Torna as imagens em elementos de bloco. */
    margin: 0 auto; /* Centraliza as imagens horizontalmente. */
}

.cozinheiro-card img {
    max-width: 100%; /* Define a largura máxima para as imagens dos cozinheiros. */
    border-radius: 0px 40px 0px 40px; /* Arredonda as bordas com uma forma especial, mantendo o mesmo estilo dos cartões. */
    display: block; /* Torna as imagens em elementos de bloco. */
    margin: 0 auto; /* Centraliza as imagens horizontalmente. */
}

.cozinheiro-card h2 {
    font-weight: bold; /* Define a espessura da fonte como negrito. */
    position: relative; /* Permite posicionamento relativo dos elementos filhos. */
    background-color: #ddbbd5; /* Define a cor de fundo. */
    padding: 5px; /* Cria preenchimento interno. */
    border-radius: 0px 0px 40px 40px; /* Arredonda as bordas com uma forma especial. */
    text-align: center; /* Centraliza o texto horizontalmente. */
}

/* Estilo para padronizar o tamanho da imagem do cozinheiro nas listas de receitas */
.recipe-card .cozinheiro-image {
    max-width: 100%; /* Define a largura máxima desejada. */
    height: auto; /* Ajusta automaticamente a altura com base na largura máxima. */
    border-radius: 0px 40px 0px 40px; /* Arredonda as bordas com uma forma especial, mantendo o mesmo estilo dos cartões. */
    display: block; /* Torna as imagens em elementos de bloco. */
    margin: 0 auto; /* Centraliza as imagens horizontalmente. */
}